@charset "utf-8";

.wrapper{
    witdh: 1080px;
    margin: 0, auto;
    background-color: #FF0000;
    font: italic 1.2em "Fira Sans", serif;
}

h1.wrapper{
  background-color: gray;
  font-size: large;
}
