@charset "utf-8";

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font: italic 1.2em "Fira Sans", serif;
}
.wrapper{
    witdh: 1080px;
    margin: 0, auto;
    background-color: #FF0000;
}
h1.wrapper{
  background-color: gray;
  /* font-size: large;   */
}
